*{
    margin: 0;
}

.contenedor{
  background-color: darksalmon;
  width: 100vw;
  height: 150vh;
  text-align: center;
}

p{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
}

button{
    font-size: xx-large;
    padding: 0.50cm;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

image{
    right: 0in;
}